var config = {
	websockethost:	'localhost',
	websocketport:	18883,
	usetls:		false,
	userlisturl: 	'users.json',
	friendstopic:	'owntracks/+/+',
	mytopic:	'owntracks/jpm/5s',
	apiKey:		'BC9A493B41014CAABB98F0471D759707',
};
